apiVersion: apps/v1
kind: Deployment
metadata:
  name: etcd-snapshot-driver
  namespace: etcd-snapshot-driver
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: etcd-snapshot-driver
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
        - name: csi-provisioner
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
        - name: csi-snapshotter
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
